@import "null.css";
@font-face {
	font-family: "Godzilla";
	src: url("../fonts/Godzilla-.woff2") format("woff2"), url("../fonts/") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 

body{
	font-family: "Godzilla";
	background: url(../img/camping.jpg) 0 100%/cover no-repeat fixed;
}
.wrapper{
	max-width: 1230px;
	margin: 0 auto;
	padding: 15px 15px 400px;
}
.header {
	background-color: rgba(135, 207, 235, 0.7);
	margin: 0 0 40px 0;
}
.header-title {
	font-size: 48px;
	color: rgba(255, 255, 0, 0.5);
	text-align: center;
	line-height: 2.5;
	letter-spacing: 2px;
	text-decoration: underline;
	text-transform: uppercase;
}
.main {

}
.main-block {
	min-height: 200px;
	margin: 0 0 30px 0;
	border-radius: 20px 50px 20px 50px;
}
.one {
	background: #bbbb92 url(../img/bg.png) 0 0/100px no-repeat;
}
.two {
		background: #bbbb92 url(../img/bg.png) 0 0/100px repeat-x;
}
.three {
			background: url(../img/bg.png) 0 0/100px;
}
.four {
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
;
}
.five {
	background: #bbbb92 url(../img/bg.png) 50px 70px/100px no-repeat;
}
.six {
		background: #bbbb92 url(../img/bg.png) 50% / 100px no-repeat;
}
.seven {
			background: #bbbb92 url(../img/bg.png)  50% / 100px repeat-x;
}
.footer {

} 
