@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px 0;
	max-width: 810px;
	margin: 0 auto;
}

.wrapper.credex {
	max-width: 390px;
	margin: 0 auto;
}

.header-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}

.header-title.statistics {
	margin: 0 0 90px 0;
}

.header-title.credex {
	margin: 0 0 40px 0;
	text-transform: capitalize;
}

.header-subtitle {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 8px 0;
}

.main-img {
	margin: 0 0 60px 0;
}

.main-text-700 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
}

.main-text-700.margin {
	background: url(../img/braces.png) 0 4px no-repeat;
	margin: 48px 0 48px 0;
	padding: 0 0 0 58px;
}

.main-text,
.main-list li,
.footer-text {
	line-height: 1.6;
}

.main-list {
	margin: 0 0 24px 0;
}

.main-list.credex {
	margin: 0 0 48px 0;
}

.main-list li {
	background: url(../img/vector.png) 0 5px no-repeat;
	padding: 0 0 0 32px;
}

.main-list.statistics li {
	margin: 0 0 4px 0;
}

.main-list.credex li {
	margin: 0 0 12px 0;
}

.main p {
	margin: 0 0 24px 0;
}

.footer-text {
	margin: 0 0 40px 0;
}

.footer-button {
	display: inline-block;
	padding: 0 32px;
	color: #fff;
	letter-spacing: 0.5px;
	line-height: 3.14;
	font-weight: 700;
	font-size: 14px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
}